@charset "UTF-8";
body {
    background-color: darkolivegreen;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1 {
    color: rgb(204, 204, 69);
}
h1#principal {
   color: rgb(54, 194, 85);
   text-align: center;
   background-color: black;
}

h2 {
    color: rgba(245, 245, 220, 0.808);
}